@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  font-family: "proxima-nova", sans-serif;
  display: flex;
  height: 100vh;
  background: #262626;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#houseSVG {
  width: 600px;
  height: 600px;
  overflow: hidden;
  font-family:'Oswald';
}

#buttonWrap {
  width: 600px;
  text-align: center;
  background: #262626;
  padding: 10px 0;
  color: white;
}

button {
  padding: 6px;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
}

h3 {
  line-height: 1.5;
  margin: 5px 0;
}
